# Scientific Machine Learning

The main objective is to complete a physical model with a data-driven model.

Next work is inspired from those both next articles :  
- 2020, R. G. Nascimento, K. Fricke, F. A. C. Viana, "A tutorial on solving ordinary differential equations using Python and hybrid physics-informed neural network," Engineering Applications of Artificial Intelligence, Vol. 96, 2020, 103996. (DOI: 10.1016/j.engappai.2020.103996).
- 2020, "Augmenting Physical Models with Deep Networks for Complex Dynamics Forecasting", Vincent Le Guen (EDF)...

To Read :
- "Hybrid data-driven physics model-based framework for enhance cyber-physical smart grid security"
- Raissi, Maziar, Paris Perdikaris, and George Em Karniadakis. "Physics Informed Deep Learning (Part I): Data-driven Solutions of Nonlinear Partial Differential Equations." arXiv preprint arXiv:1711.10561 (2017).
- Raissi, Maziar, Paris Perdikaris, and George Em Karniadakis. "Physics Informed Deep Learning (Part II): Data-driven Discovery of Nonlinear Partial Differential Equations." arXiv preprint arXiv:1711.10566 (2017).

# Import packages

In [6]:
import pandas as pd
import numpy as np

In [7]:
rng = np.random.RandomState(200)

# Data Generation

TODO

In [4]:
df_all = pd.read_csv("data.csv", sep=";", decimal=",", header=0)

In [8]:
df_all.shape

(3240, 7)

In [10]:
df_all.head()

   time  case    theta0  theta_dot0  u     tetha  theta_dot
0   0.0     0  0.192342    1.057883  0  0.138456   1.003997
1   0.5     0  0.192342    1.057883  0  0.631661   0.848859
2   1.0     0  0.192342    1.057883  0  1.015907   0.641543
3   1.5     0  0.192342    1.057883  0  1.375889   0.502063
4   2.0     0  0.192342    1.057883  0  1.658025   0.388829